h1, 
p {
  font-family: Lato;
}

.View {
  display: flex;
  flex-direction:column;
  background-color: greenyellow;

};

.Text {
  display: flex;
  font-family:sans-serif;
  font-size: 14px;
}
.image {

  width :200px;
  height: 200px;
  object-fit: contain;

}
